BOARD_PROFILE=rdk_x5
DEVICE_ID=digua_x5
MQTT_BROKER=broker.emqx.io
MQTT_PORT=1883
MQTT_PREFIX=agri/digua_x5

STM32_ENABLED=1
STM32_PORT=/dev/ttyUSB0
STM32_BAUDRATE=115200

LIDAR_ENABLED=1
LIDAR_PORT=/dev/ttyUSB1
LIDAR_SCAN_TOPIC=/scan

CAMERA_ENABLED=1
CAMERA_INDEX=0
YOLO_ENABLED=1
YOLO_TARGET_CLASS=blueberry
YOLO_MODEL_PATH=/home/sunrise/digua_x5_node/src/x5_controller/models/blueberry_best.pt
YOLO_ONNX_PATH=/home/sunrise/digua_x5_node/src/x5_controller/models/blueberry_best.onnx

ROS2_CHASSIS_ENABLED=1
ROS2_CHASSIS_PORT=/dev/ttyUSB0
ROS2_BRIDGE_DIR=/home/sunrise/digua_x5_node/src/x5_controller/ros2_chassis_bridge
